

*.dll
*.exe
*.pdb
*.json
*.cache
*.props
*.targets
*.assets
*.nuget.*


bin/
obj/


!EagerSingleton/Program.cs
!FactoryMethod/Program.cs
!ThreadsafeSingleton/Program.cs
!SingletonDesignPattern/Program.cs
!BuilderDesignPattern/program.cs
!DecoratorDesignPattern/Program.cs
